Practice/Airforce.java
Practice/Army.java
Practice/Calendar_Practice.java
Practice/Date_Practice.java
Practice/File_Handling.java
Practice/Government.java
Practice/Military.java
Practice/Practice_String.java
Practice/Sample_Coding.java
Practice/Static_Example.java
